@use '_encabezado.scss';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* BRANDING COLORS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html {
  overscroll-behavior: smooth;
}
body {
  max-width: 100svw;
  background: linear-gradient(to right, #f67423 10.26%, #ffa90d 80.16%);
  //  linear-gradient(to rigth, #e57c2c 10%, #ff6f01 95%);
}
*::selection {
  background-color: orangered;
}
.no-display {
  display: none;
}
.bold {
  font-weight: 700;
}
ul,
ol {
  list-style: none;
}
.grid-container {
  display: grid;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:link {
  color: blue;
}
a:visited {
  color: purple;
}
a:active {
  color: rgb(92, 92, 238);
}
body {
  min-height: 180svh;
}
#slider {
  padding: var(--padding-s) var(--padding-l);
  gap: var(--gap-s);
  img {
    border-radius: var(--br-medium);
  }
}
@mixin setCategories() {
  align-items: center;
  justify-content: space-around;
  gap: var(--gap-s);
  padding: 0 var(--padding-l);
  height: fit-content;
  flex-wrap: wrap;
}
@mixin buttonSlider($right) {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 0.6px solid gray;
  text-align: center;
  border-radius: var(--br-small);
  cursor: pointer;
  position: absolute;
  right: $right;
  top: 50px;
}
#menu-mobile {
  display: none;
}
#categories {
  @include setCategories();
  article {
    min-width: 170px;
    width: 15%;
    display: flex;
    height: 250px;
    a {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: var(--gap-xs);
      width: 100%;
    }

    img {
      width: 100%;
      border-radius: var(--br-medium);
    }
    h3 {
      text-align: center;
      font-size: 0.9rem;
      width: 80%;
    }
  }
}

#services {
  @include setCategories();
  justify-content: space-evenly;

  article {
    min-width: 100px;
    width: 15%;
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;

    a {
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--gap-s);
      width: 100%;
    }

    img {
      width: clamp(60px, 80px, 100px);
      height: clamp(60px, 80px, 100px);
      border-radius: var(--br-medium);
    }
    h3 {
      text-align: center;
      font-size: 0.8rem;
      width: 80%;
      font-weight: 500;
      color: var(--text-color-black);
      hyphens: manual;
    }
  }

  button {
    @include buttonSlider(20px);

    img {
      width: 40%;
    }
  }
}
#tienda {
  background-color: var(--bg-color-2);
  align-items: start;
  height: 100%;

  .first-div-tienda {
    gap: var(--gap-s);
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: var(--margin-m) var(--margin-xl);
  }
  p {
    font-size: 1.7rem;
    padding: 0 5px;
    font-weight: 700;
  }
  button {
    padding: 0.8rem;
    border: none;
    align-self: start;
    width: 7rem;
    border-radius: var(--br-small);
    background-color: var(--button-color-1);
    color: var(--text-color-white);
    font-weight: 400;
    font-size: 1.05rem;
  }

  .list-div {
    max-width: 100%;
    width: 100%;
    ul {
      width: 100%;
      display: flex;
      height: 200px;
      gap: 50px;
      padding-left: var(--padding-m);

      li:nth-child(1) {
        color: #000000c3;
        text-decoration: underline;
        font-size: 2rem;
        font-weight: 600;
      }
      li:nth-child(1) ~ li {
        color: #000000c3;
        font-size: 2rem;
        font-weight: 300;
      }
    }
    #gallery {
      width: 100%;
      height: fit-content;
      flex-wrap: wrap;
      padding: var(--padding-xs) var(--padding-m);
      align-items: stretch;
      margin-top: 7.4rem;

      gap: var(--gap-s);
      .single-product {
        min-width: 190px;
        width: 200px;
        flex-grow: 1;
        justify-content: space-between;
        height: fit-content;
        gap: var(--gap-xs);
        h4 {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          line-clamp: 3;
          width: 80%;
          transition: all;
        }
        p {
          font-size: 1.2rem;
          color: var(--text-color-black);
        }
        p:last-child {
          font-weight: 700;
          font-size: 1.3rem;
          border-radius: 1.9rem;
          background: linear-gradient(
            to right,
            #76d86d 10.26%,
            #4dd8a1 30.16%,
            #03cdfb 80%
          );
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }

        a {
          width: 100%;
          height: 100%;
          justify-content: space-around;
          gap: 10px;

          img {
            width: 100%;
            transition: all 0.7s ease-in;
          }
          h4 {
            color: black;
          }

          span {
            height: 30px;

            .star-color {
              background-color: rgb(194, 194, 194);
              width: 20px;
              height: 20px;
              clip-path: polygon(
                50% 0%,
                61% 35%,
                98% 35%,
                68% 57%,
                79% 91%,
                50% 70%,
                21% 91%,
                32% 57%,
                2% 35%,
                39% 35%
              );
            }
          }
        }
        #id-recommend {
          background-color: rgb(0, 14, 139);
          width: 90%;
          border-radius: var(--br-small);
          top: -10px;
          height: 27px;
          align-self: center;
          justify-content: center;
          z-index: 2;
          text-wrap: nowrap;
          p {
            font-size: 1rem;
            text-align: center;
            color: rgb(255, 255, 255);
            -webkit-text-fill-color: initial;
            font-weight: 600;
          }
        }
        #id-gift {
          width: 150px;
          background-color: rgb(2, 10, 118);
          left: 5px;
          bottom: 42%;
          justify-content: center;
          height: 1.8rem;
          p {
            -webkit-text-fill-color: initial;
            font-size: 16px;
            color: #ff451b;
            font-weight: bold;
          }
        }

        #id-discount {
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: orangered;
          right: 0;
          top: 0;
          p {
            -webkit-text-fill-color: initial;
            font-weight: 700;
            color: rgb(67, 14, 14);
          }
        }
      }
      .single-product:hover {
        background-color: rgb(142, 140, 140);
        transition: all 1s linear;
        a {
          img {
            transition: all 0.5s linear;
            box-shadow: 7px 0px 27px -20px rgba(0, 0, 0, 0.7);
          }
        }
        h4 {
          color: ghostwhite;
        }
      }
      .single-product:nth-child(8) ~ .single-product {
        a {
          #id-gift {
            bottom: 195px;
          }
        }
      }
    }
  }
}

.filter-aside {
  border: 2px solid black;
  margin-top: 1rem;
  height: 500px;
  width: 100%;
  background-color: var(--color-bg-secundary);
  border-radius: var(--br-small);
  .filter-contain {
    justify-content: space-between;
    height: 80%;
    align-items: center;
    padding: var(--padding-s);
    h3 {
      color: var(--text-color-white);
      font-size: 1.75rem;
    }
    label {
      color: var(--text-color-white);
      font-weight: 700;
    }
    div {
      gap: 0.7rem;
      width: 80%;
      select {
        width: 150px;
        padding: 0.5rem;
      }
      button {
        align-items: center;
        justify-content: center;
        height: 45px;
        text-align: center;
        margin-top: var(--margin-s);
      }
      input {
        width: 80%;
        padding: 0.3rem;
      }
    }
  }
}
#tienda > .first-div-tienda > .filter-aside > .filter-contain > .btn-clear {
  height: 70px;
  width: 80%;
  margin: var(--margin-section) 0 0 calc(var(--margin-m) - 1%);
}
#experience-section {
  width: 100%;
  flex-wrap: wrap;
  gap: var(--margin-s);
  align-items: center;
  padding: var(--padding-s) var(--padding-l);
  background-color: var(--color-bg-primary);

  h3 {
    color: white;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 1px 6px black;
  }
  p {
    font-size: 2rem;
    width: 100%;
  }

  .single-experience {
    align-items: center;
    width: 250px;
    gap: var(--gap-s);
  }
  a {
    width: 100%;
    overflow: hidden;
    border-radius: var(--br-medium);
    img {
      border-radius: var(--br-medium);
      width: 100%;
      transition: all 1s ease-in;
      height: 100%;
    }
    img:hover {
      transform: scale(1.1);
    }
  }
  h4 {
    font-size: 1rem;
  }
}
#tendences-sections {
  width: 100%;
  flex-wrap: wrap;
  gap: var(--margin-s);
  align-items: center;
  padding: var(--padding-s) var(--padding-xs);

  h3 {
    color: rgb(21, 21, 21);
    font-size: 2rem;
    width: 100%;
    padding: 2rem;
  }
  #div-tendences {
    width: 100%;
    padding: 0 calc(var(--padding-m) - 2px);
    gap: var(--gap-s);
    flex-wrap: wrap;
    justify-content: space-between;
    .single-experience {
      align-items: center;
      width: 200px;
      gap: var(--gap-s);
    }
    a {
      object-fit: cover;
      width: 100%;
      overflow: hidden;
      border-radius: var(--br-medium);
      img {
        border-radius: var(--br-medium);
        width: 100%;
        transition: all 1s ease-in;
        height: 100%;
      }
      img:hover {
        transform: scale(1.1);
      }
    }
    h4 {
      font-size: 1rem;
    }
  }
}

#companies-section {
  background-color: var(--bg-color-2);
  width: 100%;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  // gap: var(--gap-l);
  padding: 0 var(--margin-section);
  button {
    @include buttonSlider(5px);
    text-align: center;
    img {
      width: 40%;
      height: 30%;
    }
  }
  a {
    display: flex;
    justify-content: center;
    width: 190px;
    height: 80px;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

#blog-part {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1fr 1fr;
  background-color: var(--color-bg-primary);
  padding: var(--padding-m);
  height: auto;
  align-items: start;

  h3 {
    padding: 2px;
    grid-column: 1/-1;
    font-size: 2rem;
  }
  #container-articles {
    grid-column: 1/-1;
    grid-row: 2/-1;
    grid-template-columns: repeat(3, minmax(300px, 600px));
    justify-content: start;
    align-items: start;
    max-width: 100%;
    gap: var(--gap-s);
    height: 600px;

    .single-article {
      width: 100%;
      justify-items: center;
      div:first-child {
        width: 100%;
        border-radius: var(--br-medium);
        overflow: hidden;
        transition: all 0.7s;
        img.single-img {
          width: 100%;
          border-radius: var(--br-medium);
          transition: all 1s;
        }
        img.single-img:hover {
          transform: scale(1.1);
          filter: brightness(110%) saturate(120%);
        }
      }
      div:last-child {
        gap: var(--gap-s);
        padding: var(--padding-s) var(--padding-m);
        background-color: white;
        border-radius: var(--br-medium) var(--br-medium) 0 0;
        bottom: -170px;
        z-index: 4;

        h4 {
          color: black;
        }
        p {
          color: black;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          overflow: hidden;
          -webkit-box-orient: vertical;
        }
        button {
          display: flex;
          align-items: center;
          font-size: 1rem;
          width: 100px;
          height: 50px;
          background: transparent;
          border: none;
          img {
            margin-left: var(--margin-xs);
            width: 20%;
          }
        }
      }
      div:first-child:hover {
        box-shadow: 4px -1px 13px 0px rgba(0, 0, 0, 0.77);
      }
    }
  }
  .single-article:first-child {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .single-article:nth-child(2) {
    grid-column: 2/3;
    position: relative;
    top: 120px;
  }
  .single-article:last-child {
    grid-column: 3/4;
    position: relative;
    bottom: 60px;
  }
}
#article-adversiting {
  grid-column: 1/-1;
  justify-content: space-between;
  margin-top: 50px;
  background-color: black;
  height: 400px;

  h2 {
    color: var(--text-color-white);
    font-size: 2.4rem;
    font-weight: 800;
    width: 32%;
    align-self: start;
    padding: 3rem 2rem;
  }
  img {
    width: 60%;
    position: relative;
    left: 40px;
  }
  div {
    width: 400px;
    align-items: center;
    margin-right: var(--margin-xl);

    p {
      color: var(--text-color-white);
      font-size: 1rem;
      min-width: 200px;
      width: 300px;
      text-align: center;
    }
    button {
      margin-top: var(--margin-m);
      margin-left: var(--margin-xs);
      width: 250px;
      height: 70px;
      background-color: var(--button-color-1);
      color: var(--text-color-white);
      font-weight: 600;
      border-radius: var(--br-small);
    }
  }
}
#last-info-section {
  padding: var(--margin-xs) var(--padding-m);
  justify-content: space-around;
  background: linear-gradient(to right, #ff7e2d 10.26%, #f75c24 80.16%);
  height: 10rem;
  article {
    width: 100%;
    justify-content: space-around;
    a {
      width: 400px;
      gap: var(--gap-s);
      flex-wrap: wrap;
      align-items: center;

      p {
        width: 70%;
        height: 40px;
        font-weight: 400;
        font-size: 1.1rem;
        color: var(--text-color-black);
        display: inline-block;
      }
    }
  }

  .single-promotion:first-child ~ .single-promotion {
    border-left: 1px solid var(--bg-black);
    height: 60px;
    padding-left: 2.2rem;

    a {
      gap: var(--gap-m);
      display: flex;
      color: var(--text-color-black);
      width: 100%;
      align-items: center;

      p {
        width: 15rem;
        height: 40px;
        font-weight: 400;
        font-size: 1.1rem;
        color: var(--text-color-black);
      }
    }
    a:visited {
      color: var(--text-color-black);
    }
  }
  .single-promotion:nth-child(2) > a:first-child > p {
    height: 30px;
  }
}
footer {
  justify-content: space-around;
}
//medias-queries
@mixin queryEtiqueta($top) {
  #tienda
    .list-div
    #gallery
    .single-product:nth-child(9)
    ~ .single-product
    a
    #id-gift {
    bottom: $top;
  }
}
#footer-page {
  flex-wrap: wrap;
  height: fit-content;
  padding: var(--padding-m) var(--padding-xs);
  align-items: center;
  justify-content: start;
  background-color: var(--bg-color-2);
  .allContainer {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    height: 80%;
    ul {
      width: fit-content;
      height: fit-content;
      li {
        width: 100%;
        transition: all 0.5s ease-in-out;
        padding: var(--padding-xs);
      }
      li:hover {
        background-color: var(--bg-color-darkgrey);
      }
      h5 {
        padding: var(--padding-xs);
        font-weight: 700;
        font-size: 1rem;
      }
      a {
        color: var(--text-color-black);
      }
      ul:nth-child(5) {
        li {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        a {
          display: flex;
          align-items: center;
          height: 20px;
        }
      }
      img {
        width: 20px;
        height: 20px;
      }
    }

    article {
      width: 15%;
      gap: var(--gap-s);
      justify-content: center;
      h5 {
        font-size: 1rem;
      }
      select {
        padding: var(--padding-xs) 0;
      }
      div#credit-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 70px;
        flex-wrap: wrap;
        align-items: start;
        height: 120px;
        gap: 5px;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
        img:first-child {
          grid-column: 1/2;
          object-fit: fill;
          width: 100%;
          height: 100%;
          align-self: center;
        }
        img:nth-child(2) {
          grid-column: 2/4;
          width: 100%;
          height: 100%;
          justify-self: center;
        }
      }
      ul {
        width: 100%;
        gap: var(--gap-m);
        a {
          display: flex;
          flex-direction: column;
          gap: var(--gap-xs);
          justify-content: start;
          height: 237px;
          transition: all 0.5s linear;
        }
        a:hover {
          background-color: var(--bg-color-darkgrey);
        }
        img {
          width: 90px;
          height: 97.8px;
        }
      }
    }
  }
  div:last-child {
    border-top: 2px solid var(--bg-color-darkgrey);
    padding: var(--padding-m) 0px;
    width: 100%;
    margin-top: var(--margin-m);
    text-align: center;
  }
}
.display {
  display: block;
}
@media screen and (max-width: 1330px) {
  #tienda .list-div #gallery .single-product:nth-child(9) ~ .single-product {
    height: fit-content;
  }
  @include queryEtiqueta(175px);
}
@media screen and (max-width: 1256px) {
  @include queryEtiqueta(210px);
}
@media screen and (max-width: 1212px) {
  #experience-section {
    justify-content: center;
    padding: var(--padding-xs);
  }
}
@media screen and (max-width: 1195px) {
  @include queryEtiqueta(233px);
  #last-info-section > .single-promotion > a img {
    width: 50px;
  }
}
@media screen and (max-width: 1172px) {
  #last-info-section article a {
    width: 20rem;
    img {
      background-color: transparent;
    }
  }
  #last-info-section article a p {
    width: 56%;

    font-size: 0.8rem;
  }
  #last-info-section .single-promotion:first-child ~ .single-promotion a p {
    width: 11rem;

    font-weight: 400;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1140px) {
  @include queryEtiqueta(241px);
  #menu-mobile {
    display: block;
    cursor: pointer;
  }

  #last-div-header {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    gap: 70px;
    background-color: #270395;
    height: 100svh;
    padding: 0rem;
    align-items: center;
    width: 0px;
    transition: all 0.7s ease-in-out;
    a {
      height: 40px;
      // transform: scale(1.1);
      img {
        position: relative;
        top: 10px;
      }
    }
    * {
      display: none;
    }
  }
  img {
    background-color: white;
  }
}
#menu:checked ~ ul {
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  li {
    position: relative;
    bottom: 100px;
    a {
      color: var(--text-color-white);
      width: 100%;
      font-size: 1.5rem;

      img {
        display: inline-block;
      }
    }
  }
}
header {
  #first-header {
    #select-div {
      width: 70%;
      #select {
        font-size: 0.7rem;
      }
      input {
        width: 40%;
      }
      img {
        right: 76px;
      }
    }
  }
}

@media screen and (max-width: 1112px) {
  #tienda
    .list-div
    #gallery
    .single-product:nth-child(8)
    ~ .single-product
    a
    #id-gift {
    bottom: 244px;
  }
  #tienda
    .list-div
    #gallery
    .single-product:nth-child(11)
    ~ .single-product
    a
    #id-gift {
    bottom: 178px;
  }
  #tienda .list-div ul {
    align-items: end;

    height: 94px;
  }
  #article-adversiting div {
    width: 212px;
    align-items: center;
    margin-right: var(--margin-s);
  }

  #article-adversiting h2 {
    font-size: 1.7rem;

    width: 32%;
    align-self: center;
    padding: 2rem 2rem;
  }
  #article-adversiting img {
    width: 80%;

    left: 50px;
  }
  #article-adversiting div p {
    min-width: 100px;
    width: 8rem;
    height: fit-content;
  }
  #article-adversiting div button {
    min-width: 80px;
    width: 120px;
    height: 50px;
  }
}
@media screen and (max-width: 1076px) {
  #last-info-section .single-promotion:first-child ~ .single-promotion a p {
    width: 9rem;
  }
  #tienda
    .list-div
    #gallery
    .single-product:nth-child(8)
    ~ .single-product
    a
    #id-gift {
    bottom: 264px;
  }
  #tienda
    .list-div
    #gallery
    .single-product:nth-child(8)
    ~ .single-product
    a
    #id-gift {
    bottom: 183px;
  }

  #tienda
    .list-div
    #gallery
    .single-product:nth-child(10)
    ~ .single-product
    a
    #id-gift {
    bottom: 182px;
  }
  #tienda
    .list-div
    #gallery
    .single-product:nth-child(10)
    ~ .single-product
    a
    #id-gift {
    bottom: 179px;
  }
  #categories {
    justify-content: center;
  }
  #tendences-sections #div-tendences {
    gap: var(--gap-l);

    justify-content: center;
  }
}
@media screen and (max-width: 977px) {
  #blog-part > h3 {
    text-align: center;
  }
  #blog-part #container-articles .single-article a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #blog-part #container-articles .single-article div:last-child {
    bottom: 0px;
  }
  #blog-part #container-articles .single-article div:first-child {
    width: 80%;
    align-items: center;
    margin-top: 86px;
    bottom: -127px;
  }
  #blog-part #container-articles .single-article div {
    width: 80%;
    align-items: center;
    margin-top: 86px;
    bottom: -127px;
  }
  #blog-part #container-articles {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-l);
    align-items: center;
    .single-article:first-child {
      margin-top: 100px;
      grid-row: 1/2;
      grid-column: 1/-1;
      height: 200px;
    }
    .single-article:nth-child(2) {
      margin-top: 139px;
      grid-row: 2/3;
      grid-column: 1/-1;
      height: 200px;
    }
    .single-article:nth-child(3) {
      margin-top: 429px;
      grid-row: 3/4;
      grid-column: 1/-1;
      height: 200px;
    }
  }
  #article-adversiting {
    margin-top: 888px;
  }
  #services button {
    display: none;
  }
  #tienda .list-div ul {
    width: 100%;
  }
  #tienda .list-div ul li:nth-child(1) {
    font-size: 1.6rem;
  }
  #tienda .list-div ul li:nth-child(1) ~ li {
    font-size: 1.6rem;
    font-weight: 400;
  }
  #footer-page .allContainer article {
    top: 0;
    width: 80%;
  }
  #footer-page .allContainer article select {
    width: 200px;
  }
  div#credit-cards {
    width: 200px;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 50px 50px;
  }
  #footer-page .allContainer article ul {
    left: 55%;
    top: 0;
    position: absolute;
  }

  #footer-page .allContainer ul li {
    padding: 3px;
  }
  #footer-page .allContainer {
    justify-content: space-between;
  }
}
@media screen and (max-width: 896px) {
  #last-info-section .single-promotion:first-child ~ .single-promotion a {
    justify-content: center;
  }
  #companies-section {
    height: 77px;
    justify-content: space-around;
    padding: 0 1rem;
    width: 100%;
    a {
      width: 100px;
      padding: 0.2rem 0.1rem;
      img {
        width: 100%;
      }
    }
  }

  #companies-section button {
    width: 28px;
    height: 28px;
    right: 1px;
    top: 26px;
  }

  #last-info-section {
    padding: var(--margin-m) var(--padding-xs);
    align-items: center;
    height: 200px;
  }
  #last-info-section .single-promotion:first-child ~ .single-promotion a {
    gap: var(--gap-xs);
    align-items: center;
    height: fit-content;
  }
  #last-info-section .single-promotion:first-child ~ .single-promotion {
    height: 76px;
  }
  #last-info-section article {
    margin: 0 0;
    width: 30%;
    justify-content: stretch;
    padding: 0;
  }
  #last-info-section article a p {
    height: fit-content;
  }
  #last-info-section > .single-promotion > a img {
    left: 0px;
    position: relative;
    width: 30px;
  }
  #last-info-section article a p {
    width: 100%;
    font-size: 0.7rem;
    gap: 5px;
    justify-content: center;
  }
  #last-info-section .single-promotion:first-child ~ .single-promotion a p {
    text-align: center;
    font-size: 0.7rem;
    width: 100%;
    height: fit-content;
  }
  #last-info-section > .single-promotion > a img {
    position: relative;
    width: 35px;
  }
  #last-info-section > .single-promotion > a {
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 780px) {
  #tienda .list-div ul {
    width: 80%;
  }
  header #first-header #select-div {
    width: 75%;
    img {
      position: absolute;
      right: 50px;
    }

    select {
      font-size: 0.57rem;
      padding: 0;
    }
    input {
      padding: 0;
    }
    input::placeholder {
      font-size: 0.8rem;
      position: relative;
      left: 10px;
    }
  }
  #tienda {
    flex-direction: column;
  }
  .filter-aside {
    width: 80%;
  }
  .filter-aside .filter-contain div select {
    width: 88.6%;
  }
  .filter-aside .filter-contain div input {
    width: 89%;
  }
  #tienda .first-div-tienda {
    width: 100%;
    margin: 0 0;
    img {
      width: 70%;
      margin-top: 1rem;
    }
    p {
      width: 70%;
    }
    button {
      align-self: center;
    }
  }
  #slider img {
    height: 233.5px;
    object-fit: cover;
    object-position: 99% 4%;
  }
  #blog-part
    #container-articles
    .single-article
    div:first-child
    img.single-img {
    position: relative;
    bottom: 100px;
  }
  #blog-part #container-articles .single-article div:last-child {
    height: fit-content;
    top: 238px;
    z-index: 4;
  }
  #blog-part
    #container-articles
    .single-article
    div:first-child
    img.single-img {
    height: 390px;
    bottom: auto;
  }
  #article-adversiting {
    position: relative;
  }
  #article-adversiting img {
    left: 50px;
    width: 50%;
  }
  #article-adversiting h2 {
    text-align: center;
    width: 100%;
    position: absolute;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    top: 0;
  }
  #blog-part #container-articles .single-article div:last-child p,
  #blog-part #container-articles .single-article div:last-child h4,
  #blog-part #container-articles .single-article div:last-child button {
    font-size: 0.7rem;
  }
  #blog-part #container-articles .single-article:nth-child(2) {
    margin-top: 47.1px;
  }
  #blog-part #container-articles .single-article:nth-child(3) {
    margin-top: 352.8px;
  }
  #blog-part #container-articles .single-article:first-child {
    margin-top: 15px;
  }
  #article-adversiting {
    margin-top: 618px;
  }
}
@media screen and (max-width: 740px) {
  #tienda p {
    font-size: 1rem;
  }
  #companies-section {
    padding: 0 0.5rem;
  }
  #companies-section button {
    width: 30px;
    height: 30px;
    right: 5px;
    top: 5.3px;
  }
  .filter-aside .filter-contain div select {
    width: 95%;
  }
}
@media screen and (max-width: 712px) {
  #tienda .list-div ul li:first-child,
  #tienda .list-div ul li:first-child ~ li {
    font-size: 1.3rem;
  }
  #tienda > div > img {
    width: 235px;
  }
}
@media screen and (max-width: 701px) {
  #tienda .list-div #gallery .single-product:nth-child(9) ~ .single-product {
    flex-grow: 0;
  }
  #experience-section .single-experience {
    width: 100%;
  }
  #footer-page .allContainer {
    align-content: space-between;
    height: 1230px;
  }
}
@media screen and (max-width: 688px) {
  #footer-page .allContainer {
    height: 930px;
  }
}
@media screen and (max-width: 663px) {
  #slider img {
    height: 192px;
    object-fit: cover;
    object-position: 97% 4%;
  }
  #tienda button {
    padding: 0.5rem;
    width: 5.3rem;
    font-size: 0.75rem;
  }
  #footer-page .allContainer {
    height: 1130px;
    justify-content: space-around;
  }
  #footer-page .allContainer article ul {
    width: fit-content;
    left: 68%;
  }
  #footer-page .allContainer article {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 630px) {
  #services article {
    height: 170px;

    align-items: start;
  }

  #tienda .list-div ul li:first-child,
  #tienda .list-div ul li:first-child ~ li {
    font-size: 1rem;
  }
  s header #first-header #select-div img {
    position: absolute;
    right: 40px;
  }
  #slider img {
    height: 182px;
    object-fit: cover;
    object-position: 99% 4%;
  }
}
@media screen and (max-width: 584px) {
  .filter-aside {
    height: fit-content;
  }
  .filter-aside .filter-contain {
    padding: 0;
  }
  .filter-aside .filter-contain h3 {
    margin: 1rem 0;
    font-size: 1.35rem;
  }
  .filter-aside .filter-contain div select {
    width: 83%;
    padding: 0.3rem;
  }
  #tienda > .first-div-tienda > .filter-aside > .filter-contain > .btn-clear {
    font-size: 0.7rem;
    height: 34px;
    width: 61%;
    margin: 1rem;
  }
  #tienda button#search-price {
    width: 100px;
    height: 33px;
    margin-bottom: 5px;
  }
  #tienda .list-div #gallery .single-product:nth-child(9) ~ .single-product {
    flex-grow: 1;
    margin-bottom: 1rem;
  }

  #tienda .list-div #gallery .single-product #id-gift {
    bottom: 25%;
  }
  #tienda .list-div #gallery {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 540px) {
  header #first-header #select-div {
    display: none;
  }
  #menu:checked ~ ul {
    width: 100%;
    margin-right: 0;
    li {
      position: relative;
      bottom: 100px;
      a {
        color: var(--text-color-white);
        font-size: 1.4rem;
        width: 100%;

        img {
          display: inline-block;
        }
      }
    }
  }

  #footer-page .allContainer {
    height: 1630px;
  }
  #tienda .list-div ul {
    width: 32%;
  }
  #tienda .list-div ul li:first-child,
  #tienda .list-div ul li:first-child ~ li {
    font-size: 1.4rem;
  }
  #footer-page .allContainer {
    height: 1551.7px;
  }
  #footer-page .allContainer {
    justify-content: space-around;
  }
}

@media screen and (max-width: 511px) {
  #tienda .list-div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-s);
    li {
      position: relative;
      top: 20px;
      left: 50px;
      font-size: 2rem;
    }
  }
  #tienda .list-div ul li:first-child,
  #tienda .list-div ul li:first-child ~ li {
    font-size: 1.2rem;
  }
  #slider img {
    height: 145px;
  }
  #tienda .list-div #gallery {
    width: 80%;

    padding: 0;

    margin-top: 3.4rem;
    gap: var(--gap-xl);
  }
  #tienda .list-div #gallery .single-product {
    min-width: 100px;
    width: 180px;
    flex-grow: 0;
    gap: var(--gap-xs);
  }
  #tienda button#search-price {
    width: 81%;
  }
  #tienda > .first-div-tienda > .filter-aside > .filter-contain > .btn-clear {
    font-weight: 700;
    font-size: 0.6rem;
    height: 39.9px;
    width: 62.4%;
    margin: 1rem;
  }
  .filter-aside .filter-contain div select {
    width: 100%;
  }
  #tienda .list-div ul {
    flex-direction: row;
  }
  #tienda .list-div #gallery {
    width: 100%;
    padding: 1rem;
    margin-top: 3.4rem;
    justify-content: space-around;
    gap: var(--gap-s);
  }
  #tienda .list-div #gallery .single-product a {
    height: fit-content;
  }
  #tienda .list-div #gallery .single-product:nth-child(9) ~ .single-product {
    flex-grow: 0;
    height: fit-content;
  }
  #tienda .list-div #gallery .single-product #id-gift {
    bottom: 186px;
  }
  #tienda
    .list-div
    #gallery
    .single-product:nth-child(8)
    ~ .single-product
    a
    #id-gift {
    bottom: 186px;
  }
  #tienda .list-div #gallery .single-product #id-recommend p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 465px) {
  #slider img {
    height: 137px;
  }
  #tienda .list-div ul {
    position: relative;
    left: -53px;
  }

  #blog-part
    #container-articles
    .single-article
    div:first-child
    img.single-img {
    height: 284.8px;
    bottom: auto;
  }
  #blog-part #container-articles .single-article div:last-child {
    top: 182px;
  }
  #blog-part #container-articles .single-article:nth-child(2) {
    margin-top: 16px;
  }
  #blog-part #container-articles .single-article:nth-child(3) {
    margin-top: 317.8px;
  }
  #article-adversiting {
    margin-top: 582px;
  }
  #article-adversiting div {
    width: 118px;
    align-items: center;
    margin-right: var(--margin-xs);
  }
  #tendences-sections h3 {
    text-align: center;
    padding: 0.4rem 0.5rem;
  }
  #article-adversiting div button {
    position: relative;
    min-width: 80px;
    width: 80px;
    height: 39px;
    left: 17px;
  }
  #footer-page .allContainer {
    height: 2556.7px;
    gap: 20px;
  }
  #footer-page .allContainer ul {
    height: fit-content;
    text-align: center;
    width: 100%;
  }
  #footer-page .allContainer article {
    width: 50%;
  }
  #footer-page .allContainer article ul {
    left: 0;
    top: 42px;
    position: relative;
  }
  #footer-page .allContainer article ul img {
    position: relative;
    left: 26px;
  }
  #categories {
    gap: 15px;
  }
  #categories article {
    flex-grow: 1;
    height: fit-content;
  }
  #tienda .list-div ul {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  #slider img {
    height: 112px;
  }
  #article-adversiting img {
    display: none;
  }
  #second-header div.second-btn-div button a {
    color: var(--text-color-black);
    font-size: 10.3px;
  }
  #article-adversiting div {
    align-items: center;
    flex-direction: column;
    display: flex;

    width: 100%;
    align-items: center;
    margin: 0;
    p {
      width: 80%;
    }
  }
  #article-adversiting div button {
    margin-left: -20px;
  }
}
@media screen and (max-width: 394px) {
  #slider img {
    height: 105px;
  }
  #experience-section h3 {
    font-size: 2.5rem;
  }
  #experience-section p {
    margin-top: 1.8rem;
    font-size: 1.1rem;
    width: 79.3%;
  }
  #tendences-sections #div-tendences .single-experience {
    flex-grow: 1;
  }
  #companies-section {
    height: 77px;
    justify-content: space-around;
    a {
      width: 100px;
      padding: 0.5rem 0.2rem;
      img {
        width: 70%;
      }
    }
  }
}
@media screen and (max-width: 370px) {
  #second-header div.second-btn-div button a {
    display: none;
  }
  #last-info-section {
    padding: 0 var(--padding-m);
    justify-content: space-between;
  }
  #last-info-section
    .single-promotion:first-child
    ~ .single-promotion:nth-child(2)
    a {
    bottom: 10px;
    position: relative;
  }
  #last-info-section .single-promotion:first-child ~ .single-promotion {
    border-left: 1px solid var(--bg-black);
    height: 60px;
    padding-left: 0.5rem;
  }
  #second-header > article {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #footer-page .allContainer {
    height: 2515.7px;
  }
}
@media screen and (max-width: 346px) {
  #slider img {
    height: 87px;
  }
  #services article:nth-child(5) {
    h3 {
      position: relative;
      right: 20px;
    }
  }
  #footer-page .allContainer {
    height: 2613.7px;
  }
  #tienda .list-div ul li:first-child,
  #tienda .list-div ul li:first-child ~ li {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 292px) {
  #slider img {
    height: 70px;
  }
  #footer-page .allContainer article div#credit-cards {
    width: 158px;
  }
  #footer-page .allContainer article select {
    width: 150px;
  }
  #footer-page .allContainer {
    height: 2653.7px;
  }
  // #tienda .list-div ul {
  //   display: block;
}
